/* WaterReductionSection.module.css */
.waterReductionSection {
    background-image: url('/images/reduce-consumption-and-cut-water.png');
    background-size: cover;
    padding: 3rem 0;
    color: #fff;
    position: relative;
}

.sectionHeading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #4035C3;
}

.containerSubheading {
    padding-top: 1rem;
}

.subheadingContainer {
    background: rgba(255, 255, 255, 0.70);
    padding: 2rem;
    border-radius: 10px;
    color: black;
    z-index: 5;
    position: relative;
    bottom: -110px;
}

.sectionSubheading {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
