.globallyRecognisedSection {
    padding: 50px;
    overflow: hidden;
}

.sectionTitle {
    color: #3328BF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: left;
    font-size: 1.875rem;
}

.flagImage {
    width: 5rem;
    height: auto;
    margin-bottom: 15px;
    border-radius: 20px;
}
.globallyRecognisedImg {
    width: 8rem;
    height: auto;
    margin-bottom: 15px;
}
.globallyRecognisedImgDiv {
    height: 3rem;
}

.locationTitle {
    color: #3328BF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.locationDescription {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.details {
    margin-top: 25px;
}

@media (max-width: 768px) {
    .globallyRecognisedSection {
        padding: 1px;
    }
}