.impactSection {
    background-color: #fff4d6; /* Adjust background as per design */
    overflow: hidden;
    padding: 25px 50px 25px;
}

.impactSection h2 {
    color: #3328bf;
    font-family: Poppins, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 160% */
}

.impactTitle {
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #3328bf;
    margin-bottom: 1rem;
}

.metricTitle {
    color: #4035C3;
    font-family: Poppins, sans-serif;
    font-size: 3.0rem;
    font-style: normal;
    line-height: 2.1875rem; /* 60.345% */
    letter-spacing: -0.0725rem;
}

.metricDescription {
    color: #3328BF;
    font-family: Poppins, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.1875rem; /* 140% */
    letter-spacing: -0.03125rem;
    margin-top: 1rem;
}

.downloadButton {
    width: 50%;
    height: 4.25rem;
    flex-shrink: 0;
    margin-top: 3rem;
    border-radius: 3.0625rem;
    border: 2px solid #3328BF;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Poppins, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: #3328BF;
    background-color: transparent;

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.downloadButton:hover {
    background-color: #3328BF;
    color: white;
}


.impactCalculatorWrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 32rem; /* Adjust to accommodate both the green background and the form */
}

.greenBackground {
    position: absolute;
    width: 100%;
    height: 31.875rem;
    border-radius: 2.0625rem;
    background-color: #1ad1b2;
    z-index: 1;  /* Positioned behind the form */
}

.calculatorForm {
    position: relative;
    top: -2%;
    left: 3%;
    width: 100%;
    height: 30.8125rem;
    flex-shrink: 0;
    border-radius: 2.0625rem;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 2;  /* Form is placed above the green div */
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a more prominent effect */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formSelect {
    padding: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.formInput {
    padding: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: black;
}

.waterSaving {
    display: flex;
    flex-direction: column;
}

.waterSaving p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}


.result {
    margin-top: 20px;
    text-align: center;
}

.waterSavingOutput {
    height: 3rem;
    border-radius: 1rem;
    background-color: #1ad1b2;
}

@media (max-width: 768px) {
    .impactSection {
        padding: 0 15px 0px;
    }

    .metric h3 {
        font-size: 2rem;
    }

    .calculator {
        margin-top: 2rem;
    }

    .metricTitle {
        color: #4035C3;
        font-family: Poppins, sans-serif;
        font-size: 1.5rem!important;
        font-style: normal;
        font-weight: 600;
        line-height: 2.1875rem; /* 60.345% */
        letter-spacing: -0.0725rem;
    }

    .metricDescription {
        color: #3328BF;
        font-family: Poppins, sans-serif;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.1875rem; /* 140% */
        letter-spacing: -0.03125rem;
        margin-top: 1rem;
    }

    .downloadButton {
        margin-top: 0!important;
    }
    .impactCalculatorTitle {
        margin-top: 2rem!important;
    }

}

.impactCalculatorTitle {
    color: #3328BF;
    font-family: Poppins, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem; /* 160% */
}

.litersButton {
    margin-top: 2rem;
    height: 3.1875rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    border: 1px solid #1AD1B2;
    background-color: transparent; /* Ensure it's transparent if it's not filled */
    color:#4035C3; /* Default text color */
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Adds pointer on hover for buttons */
}

.litersButton:hover {
    background-color: #1AD1B2; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}
