/* src/components/css/IndustryFocusSection.module.css */

/* Container styling */
.container {
    padding: 0 50px;
    overflow: hidden;
    margin-top: 2rem;
}

/* Industry focus title styling */
.industryFocusTitle {
    color: #3328BF;
    font-family: Poppins, sans-serif;
    font-size: 1.875rem;
    font-weight: 500;
    margin: auto;
}

/* Image card styling */
.imageCard, .imageCardTextile {
    position: relative;
    margin-bottom: 1rem;
}

.imageCard img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.imageCardTextile img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.imageText{
    position: absolute;
    top: 35%;
    left: 20%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.imageCardTextile .imageText{
    position: absolute;
    top: 35%;
    left: 35%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Save Electricity title */
.saveElectricityTitle {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Save Electricity paragraph */
.saveElectricityText {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 2rem;
}

/* Register button styling */
.registerButton {
    width: 16.875rem;
    height: 3.6875rem;
    background-color: #1AD1B2;
    color: #fff;
    border: none;
    border-radius: 2.90625rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.registerButton:hover {
    background-color: #17bba2;
}

/* Responsive styling */
@media (max-width: 768px) {
    .imageCard img {
        width: 100%;
        height: 8rem;
        object-fit: cover;
    }
    .registerButton {
        width: 100%;
    }
    .container {
        margin-top: unset!important;
    }

    .container{
        padding: 15px;
    }
}
