/* Title Styling */
.title {
    color: #3328BF;
    font-family: 'Poppins', sans-serif;
    font-size: 3.625rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Description styling */
.description {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 20px;
}


/*  Button */
.exploreBtn {
    width: 16.875rem; /* Button width */
    height: 3.6875rem; /* Button height */
    border-radius: 2.90625rem; /* Rounded corners */
    background-color: #1AD1B2; /* Green background */
    color: #fff; /* White text */
    border: none; /* No border */
    font-family: 'Poppins', sans-serif;
    font-size: 1rem; /* Font size */
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

/* Hover for Subscribe Now Button */
.exploreBtn:hover {
    background-color: #fff; /* Slightly darker green on hover */
    color: black; /* Keep white text */
    border: 1px solid black;
}

/* Floating product/service boxes */
.position-relative {
    position: relative;
}

.productBox1,
.productBox2,
.productBox3,
.productBox4 {
    position: absolute;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    color: #3328BF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productImage {
    border-radius: 10px;
    width: 12rem;
    height: auto;
    margin-bottom: 0.5rem;
}

/* Individual positions for floating product/service boxes */
.productBox1 {
    top: 0;
    right: 14rem;
    width: 15rem;
}

.productBoxText{
    position: absolute;
    left: -2%;
    background: rgba(255, 255, 255, 0.70);
    padding: 0.15rem;
    color: #3328BF;
    z-index: 5;
}
.productBoxText3{
    position: absolute;
    left: -33%;
    background: rgba(255, 255, 255, 0.70);
    padding: 0.15rem;
    color: #3328BF;
    z-index: 5;
}

.productBoxText4{
    position: absolute;
    left: 50%;
    background: rgba(255, 255, 255, 0.70);
    padding: 0.15rem;
    color: #3328BF;
    z-index: 5;
}
.productBox2 {
    top: 24%;
    right: -1rem;
    width: 15rem;
}

.productBox3 {
    bottom: 30%;
    left: 0;
    width: 8rem;
}

.productBox4 {
    bottom: 0;
    left: 22%;
    width: 20rem;
}
.productBox4 .img{
    width: 10rem;
}

/* Center Aabshar Logo */
.productBoxCenter {
    position: absolute;
    top: 40%;
    left: 37%;
    background-color: transparent;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerLogo {
    width: 100%;
    height: auto;
}

/* Logos styling */
.appreciatedBy {
    color: #3328BF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
}

.appreciationLogo {
    width: 100%;
    max-width: 120px;
    height: auto;
    transition: filter 0.3s ease;
}

/* Responsive Adjustments */
@media (max-width: 1023px) {
    .title {
        font-size: 2.5rem;
    }
    .description {
        font-size: 1.125rem;
    }
    .productBox1,
    .productBox2,
    .productBox3,
    .productBox4,

    .productBoxCenter {
        display: none;
        position: static;
        margin-bottom: 1rem;
        width: 100%;
    }
    .exploreBtn {
        width: 100%;
        font-size: 1rem;
        height: 3rem;
    }

    .productBoxText, .productBoxText3, .productBoxText4{
        position: unset;
        left: unset;
        background: rgba(255, 255, 255, 0.70);
        padding: 0.15rem;
        color: #3328BF;
        z-index: 5;
    }
}
