.productDetailsSection {
    padding: 2rem;
}
.productImage1 img {
    width: 100%;
    height: 26.0625rem;
    object-fit: cover;
}

.productImage2 img {
    width: 17.0625rem;
    height: 14.3125rem;
    margin-top: 2px;
    object-fit: cover;
    float: right;
}

.productInfo {
    text-align: left;
}
.productTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #3328BF;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.productDescription {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #333;
    margin-bottom: 1rem;
}
.productFeatures p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.productRatings .stars {
    color: #FFD700;
}
.productPrice {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 1.5rem;
}
.btnBuy {
    display: inline-flex;
    padding: 0.75rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #1AD1B2;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
}
.btnBuy:hover {
    border: 1px solid black;
}

/* Force custom column width for desktop to fit 7 logos in one row */
@media (max-width: 992px) {
    .productDetailsSection {
        padding: 0.5rem;
    }

    .productImage1, .productImage2 {
        width: 50%;
        display: inline-flex;
        padding: 5px;
    }
    .productImage1 img, .productImage2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .productTitle {
        font-size: 1.875rem;
        font-weight: 500;
    }

    .productDescription {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4375rem;
    }
}