.standardChartedBackgroundSection {
    height: 39.5625rem;
    background: url('/images/standardchartedbig.png') lightgray 50% / cover no-repeat;
    z-index: 1;
    position: relative;
}


/* Position the play button in the center */
.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.playIcon {
    width: 4rem; /* Adjust the size of the play button */
    height: 4rem;
    cursor: pointer;
}

@media (max-width: 991px) {
    .standardChartedBackgroundSection {
        height: 12.5625rem;
    }
}