.embla {
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
    --slide-height: 22.25rem;
    --slide-spacing: 0.5rem;
    --slide-size: 50%;
    position: relative; /* Ensure buttons are positioned relative to the embla */
}

.emblaContainer {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.emblaSlide {
    border-radius: 1.8rem;
    transform: translate3d(0, 0, 0) scale(0.50);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    transition: transform 0.1s ease, opacity 0.1s ease; /* Smooth transition for scale and opacity */
}


.emblaSlideImg {
    border-radius: 1.8rem;
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease; /* Smooth transition for the image scaling */
}

.mosqueNameOverlay {
    position: absolute;
    bottom: 1%;
    left: 7%;
    right: 0;
    font-size: 1.25rem;
    color: #fff;
    padding: 5px;
    line-height: 3rem;
}

/* Dot buttons styling */
.emblaDots {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.carouselDotButton {
    -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 5px;
    box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);;
    width: 1.6rem;
    height: 1.6rem;
    z-index: 1;
    border-radius: 50%;
    color: rgb(54, 49, 61);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselDotButton:hover,
.carouselDotButton:focus {
    box-shadow: inset 0 0 0 2px #666; /* Hover and focus state */
}

.carouselDotButton.emblaDotSelected {
    box-shadow: inset 0 0 0 2px #4035C3; /* Active dot color */
}

/* Navigation buttons */
.emblaControls {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 0;
    right: 0;
    display: flex;

    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%); /* Center vertically */
    z-index: 5;
}

.emblaButton {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 2px #d4d4d4;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s ease;
    pointer-events: all; /* Enable pointer events on buttons */
}

/* Hover state for embla buttons */
.emblaButton:hover {
    box-shadow: inset 0 0 0 2px grey; /* Replaced with a variable */
}

/* SVG within embla buttons */
.carouselButtonSvg {
    width: 63px;
    height: 63px;
    color: white;
}

/* Disabled state for navigation buttons */
.emblaButtonDisabled {
    color: grey; /* Replaced with a variable */
    box-shadow: none;
}

/* Previous button style on the left */
.carouselButtonPrev {
    z-index: 5;
    position: absolute;
    left: 1rem; /* Position left */
}

/* Next button style on the right */
.carouselButtonNext {
    position: absolute;
    right: 2rem; /* Position right */
}

@media (max-width: 992px) {
    .embla {
        --slide-height: 17.25rem;
        --slide-spacing: 1rem;
        --slide-size: 60%;
    }
    .emblaSlide {
        flex: none;
    }

    .carouselButtonSvg {
        width: 35px;
        height: 35px;
    }

    .carouselButtonNext {
        right: 1.5rem;
    }
}

@media (max-width: 320px) {
    .emblaSlide {
        width: 335px!important;
    }
}

@media (min-width: 321px) and (max-width: 376px){
    .emblaSlide {
        width: 390px!important;
    }
}
@media (min-width: 377px) and (max-width: 426px){
    .emblaSlide {
        width: 440px!important;
    }
}

@media (min-width: 965px) and (max-width: 1024px){
    .carouselButtonNext {
        right: 1.5rem;
    }
}