.areaSection {
    padding: 50px;
}

.areaHeading {
    color: #3328BF;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.areaSubheading {
    color: #888;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    text-align: left;
}


.viewAll {
    font-size: 1rem;
    color: #4035C3;
    text-decoration: none;
    font-weight: 500;
}

.embla {
    max-width: 90vw;
    overflow: hidden;
    margin: auto;
    --slide-height: 15rem;
    --slide-spacing: 1rem;
    --slide-size: 27%;
    position: relative;
}

.emblaViewport {
    overflow: hidden;
}

.emblaContainer {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.emblaSlide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.emblaSlideImg {
    border-radius: 1.8rem;
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
}

.slideText {
    text-align: center;
    margin-top: 0.5rem;
}

.slideText h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.slideText p {
    font-size: 1rem;
    color: #888;
}

/* Dot buttons styling */
.emblaDots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.carouselDotButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #d4d4d4;
    transition: box-shadow 0.2s;
}

.carouselDotButton:hover,
.carouselDotButton:focus {
    box-shadow: inset 0 0 0 2px #666;
}

.carouselDotButton.emblaDotSelected {
    box-shadow: inset 0 0 0 2px #4035C3;
}

/* Navigation buttons */
.emblaControls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    z-index: 5;
}

.emblaButton {
    background-color: transparent;
    cursor: pointer;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselButtonSvg {
    width: 35%;
    height: 35%;
}


/* Navigation buttons */
.emblaControls {
    position: absolute;
    top: 35%; /* Center vertically */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    color: white;
}

.emblaButton {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 2px #d4d4d4;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s ease;
    pointer-events: all; /* Enable pointer events on buttons */
}

/* Hover state for embla buttons */
.emblaButton:hover {
    box-shadow: inset 0 0 0 2px grey; /* Replaced with a variable */
}

/* SVG within embla buttons */
.carouselButtonSvg {
    width: 35px;
    height: 35px;
}

/* Disabled state for navigation buttons */
.emblaButtonDisabled {
    color: grey; /* Replaced with a variable */
    box-shadow: none;
}

/* Previous button style on the left */
.carouselButtonPrev {
    z-index: 5;
    position: absolute;
    left: 1rem; /* Position left */
}

/* Next button style on the right */
.carouselButtonNext {
    position: absolute;
    right: 1rem; /* Position right */
}

@media (max-width: 426px) {
    .emblaSlide {
        flex: 0 0 var(--slide-size-lg);
        padding-left: var(--slide-spacing-lg);
    }

    .embla {
        --slide-height: 12.25rem;
        --slide-spacing: 1rem;
    }

    .emblaSlide {
        flex: none;
    }


    .carouselButtonSvg {
        width: 30px;
        height: 30px;
        color: white;
    }

    .emblaControls {
        top: 34%;
    }

    .carouselButtonPrev {
        left: 0rem; /* Position right */
    }

    .carouselButtonNext {
        right: 0rem; /* Position right */
    }

    .mosquesDescription{
        margin: 1rem 3rem 1rem;
    }

    .slideText {
        text-align: center;
    }
    .areaSection {
        padding: 5px;
    }
}

@media (min-width: 427px) and (max-width: 992px) {
    .emblaSlide {
        padding-left: var(--slide-spacing);
    }

    .embla {
        --slide-height: 12.25rem;
        --slide-spacing: 2rem;
    }

    .emblaSlide {
        flex: none;
    }


    .carouselButtonSvg {
        width: 30px;
        height: 30px;
        color: white;
    }

    .emblaControls {
        top: 32%;
    }

    .carouselButtonPrev {
        left: 0rem; /* Position right */
    }

    .carouselButtonNext {
        right: 0rem; /* Position right */
    }

    .mosquesDescription{
        margin: 1rem 3rem 1rem;
    }

    .slideText {
        text-align: center;
    }
    .areaSection {
        padding: 5px;
    }
}